*
{
    
    margin: 0;
    padding: 0;
}
.hero {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
  z-index:-1;
  border:0px solid red;
  
  position:fixed;
  z-index:-1;
}
.hero {
     width:100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1429019885980-e07c0774c492?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   text-align:center;
    color:white;
}
::selection {
    background-color: rgba(0,0,0,.9);
    color: #fff;
}
svg:not(:root) {
    overflow: hidden;
}
.chevronDown {
    width: 5rem;
    height: 5rem;
    fill: #fff;
    position: absolute;
    bottom: 3rem;
    cursor: pointer;
}
.navBar li {
  display:inline-block;
   
  margin-right:30px;
  
}
.fullMenu{
  display:none;
}

.fullMenu li{
  font-size:2rem;
}
.navBar ul{
  border:0px solid red;
  width:80%;
  margin:auto;
  text-align:center;
  font-size:30px;
  padding:20px 0px;
   
}
.menu{
  display:none;
   border:0px solid red;
}
.navBar a{
  color:white;
  text-decoration:none;
}
.navBar{
    /* background: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0) 200%);
  change color when scrolled*/
  font-family: 'Lato', sans-serif;
  color:white;
  position:fixed;
  z-index:2;
  width:100vw;
}
 .navBar li:hover{
  text-decoration:underline;
}
.home{
   /*background: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0) 200%);
 */
   position:relative;
   height:100vh;
  width:100vw;

   

   border:0px solid red;
}
h1{
   
  width:50%;
  line-height: 1.5;

}
h2{
  text-align:center;
  margin:100px auto;
  border-bottom:5px solid #93d7ff;
  width:10%;
  padding-bottom:15px;
}
.about-wrap{
  font-size: 1.6rem;
    font-family: Raleway,sans-serif;
    letter-spacing: .5px;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
   background:white;
}
.aboutLeft img{
  
  /*height:500px;*/
  min-height:250px;
  width:70%;
   float:right;
}
.aboutLeft{
   
  
  width:40%;
  display:inline-block;
  
}
.aboutRight{
   
  width:55%;
  display:inline-block;
  text-align:left;
   
  padding-right:30px;
}
.bio{
  border:0px solid green;
  width:70%;
  float:right;
  font-size:1.2rem;
  margin:50px 0px;
  line-height:30px;
}
.bio p{
  margin-bottom:10px;
}
.main-content{
  background:white;
  padding-top:30px;
  width:100vw;
}
.skills{
  
  border:0px solid black;
  width:80%;
   
  margin:auto;
  padding:10px 0px;

  background:white;
}

.skills li{
  list-style:none;
  display:inline-block;
  border:0px solid red;
  text-align:center;
  margin-right:10px;
}
.skills li span{
  border:0px solid black;
  color:white;
  background:grey;
}
 
  .toolIcon{
    width:80px;
    height:80px;
    margin-right:10px;
    opacity:0.7;
     
  }
  .toolIcon:hover{
  opacity:1;
}
.tools span{
  display:none;
}
.tools li:hover span {
  /* ... */
  display:block;
}
.tools{
  
  width:80%;
  margin:50px auto;
  text-align:center;
   
}
.experience{
  
  display:flex;
  flex-direction:column;
}
  
.exp-desc{
   
  width:50%;
  display:inline-block;
  float:right;
  margin-top:0px;
  font-size:1.3rem;
  line-height:2rem;
  padding-right:40px;
    
}
 
.q{
  margin-top:80px;
}
.exp img{
  max-width:20%;
  max-height:300px;
   
}
.mida{
  width:100px;
  height:60px;
  margin-left:40px;
}
.midamed{
  color:#03a9f4;
  font-size:2rem;
 
  position:relative;
  bottom:20px;
  display:inline-block;
  font-family: arial;
  font-weight:200;
}
.projects{
   
  display:grid;
   grid-gap:0px;
   grid-template-columns: auto auto;
  width:70%;
   margin:auto;
}
.proj{
   border:5px solid #93d7ff;
  height:300px;
  width:300px;
 margin: 50px auto;
 display:flex;
 justify-content:center;
}
.proj:hover .proj-desc{
  display:block;
}
.proj-desc{
  border:0px solid red;
  width:100%;
  text-align:center;
   background: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0) 9000%);
   color:white;
   display:none;
}
.proj-desc a{

color:white;
text-decoration:none;
}
.proj-desc-name{
   
  margin-top:100px;
}
.proj-desc img{
  display:inline-block;
  width:60px;
  height:60px;
  filter: brightness(0) invert(1);
}
.proj-desc hr{
  border:1px solid white;
  width:50%;
  margin:10px auto;
}
.calc{
  /*background:url('https://upload.wikimedia.org/wikipedia/commons/c/cf/Casio_calculator_JS-20WK_in_201901_002.jpg');
  */ 
  background-image:url('../src/assets/calculator.jpg');
  background-repeat: no-repeat;
   background-size: 100% 100%;
}
.tic{
  background:url('../src/assets/tictactoe.jpg');
  background-repeat: no-repeat;
   background-size: 100% 100%;
}
.quotes{
background:url('../src/assets/quotes.jpg');
background-repeat: no-repeat;
   background-size: 100% 100%;
}
.portfolio{
  background:url('../src/assets/portfoliopic.png');
  background-repeat: no-repeat;
   background-size: 100% 100%;
}
.footer{
   
  /* background: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0) 200%);*/
background:#93d7ff;
  padding:30px 0px;
  color:white;
  width:100vw;
}
.leftFoot{
  border:0px solid black;
  width:45%;
  display:inline-block;
  list-style:none;
}
.leftFoot li{
  border:0px solid red;
  text-align:center;
}
.leftFoot h3{
  text-align:center;
  font-size:2rem;
  margin-bottom:15px;
    
}
.leftFoot img{
width:30px;
margin-right:15px;
filter: brightness(0) invert(1);
}
.rightFoot h3{
  text-align:center;
  font-size:2rem;
  margin-bottom:15px;
   
  
}
 
.phone{
  display:inline-block;
  margin-right:30px;
   
   position:relative;
   bottom:7px;
}.email{
  display:inline-block;
  position:relative;
   bottom:10px;
}
.cont{
  border:0px solid black;
  width:85%;
  margin:auto;
  list-style:none;
  font-size:1.5rem;
  text-align:left;
  margin-bottom:30px;
}
.cont a{
  color:white;
  text-decoration:none;
}
.cont a:hover{
  text-decoration:underline;
}
.rightFoot{
  border:0px solid red;
  width:40%;
  display:inline-block;
  float:right;
  list-style:none;
}
.socialIcons img{
  width:30px;
  margin-right:15px;
  
}
.socialIcons{
  border:0px solid black;
  width:50%;
  margin:auto;
  text-align:center;
}
.copyright{
  border:0px solid red;
  margin-left:50px;
}
.copyright-mobile{
  display:none;
}
 @media screen and (max-width: 800px){
.hero{
  position:relative;
}
/*
.proj:hover, .proj:active .proj-desc{
  display:block;
   
}*/
.proj-desc{
  display:block;
}
.proj-desc{
  border:1px solid black;
  height:100%;
}
.projects{
   
  display:flex;
   flex-direction:column;
  width:100%;
   margin:auto;
}
h2{
  text-align:center;
  margin:100px auto;
  border-bottom:5px solid #93d7ff;
  width:40%;
  padding-bottom:15px;
}
h1{
  font-size:1.7rem;
   border:0px solid red;
   width:80%;
   line-height:3rem;
  text-align:center;
}

.about-wrap{
  font-size: 1.6rem;
    font-family: Raleway,sans-serif;
    letter-spacing: .5px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
   background:white;
    
}

.aboutLeft{
   
  
  width:80%;
  display:inline-block;
  text-align:center;
   margin:auto;
}
.aboutLeft img{
   
  display:inline-block;
  margin:auto;
  min-height:250px;
  width:100%;
} 
.aboutRight{
   
  width:80%;
  display:inline-block;
  text-align:left;
    
   margin:auto;
  padding-right:0px;
}
.bio{
  border:0px solid green;
  width:100%;
   
  font-size:1.1rem;
  margin:50px auto;
  line-height:30px;
}
.tools{

   
  display:grid;
  grid-template-columns:auto auto auto;
  grid-gap:10px;
   
  width:100%;
}
.exp{
    
  display:flex;
  flex-direction:column;
  text-align:center;
}
.exp-desc{
   border:0px solid red;
  width:80%;
  padding-bottom:100px;
  margin-top:0px;
  margin:auto;
   padding-right:0px;
   font-size:1rem;
     
}
.exp img{
   
   margin-bottom:auto;
   max-width:100%;
}
.midamed{
   
  margin-right:45px;
  margin-bottom:100px;
}
.footer{
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.leftFoot{
 
width:100%;
  
}
.email{
  border:0px solid red;
  margin-right:30px;
}
 
.cell{
   margin-bottom:10px;
  display:block;
  text-align:center;
}.emaill{
   
 margin-left:40px;
 text-align:center;
  
}
.rightFoot{
width:100%;
}
.footer h3{
  border:5px solid white;
  width:60%;
  margin: 15px auto;
}
.copyright{
  display:none;
}
.copyright-mobile{
  display:block;
  margin-top:20px;
  text-align:center;
}
.menu{
  display:block;
    
   text-align:center;
padding:10px;
}
.menuButton{
  border:6px solid white;
  font-size:1rem;
  width:50%;
  margin:auto;
  padding:20px 0px;
  background-color: transparent;
  color:white;
  font-size:1.3rem;
}
.navBar ul{
  display:none;
}

.fullMenu{
  display:block;
  border:0px solid black;
  height:100vh;
  background:#93d7ff;
  display:flex;
  justify-content:center;
  
  /* */display:none; 
}
.fullMenu ul{
  display:block;
  border:0px solid red;
  font-size:3rem;
  text-align:center;
}
.fullMenu li{
  display:block;
  margin:30px auto;
}
.fullMenu button{
  background:transparent;
  color:white;
  font-size:3rem;
  border:5px solid white;
  width:30%;
}
  
.cont{
  margin-bottom:0px;
}
}